@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Secular+One&family=Tienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto&family=Secular+One&family=Tienne&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 80%;
    margin: auto;
    margin-top: 60px;
}

h1,h3{
    font-family: 'Secular One', sans-serif;
}
header h1{
    color: #E53170;
}

header{
    text-align: center;

}

header *{
    padding-bottom: 30px;
}

.clearfix::after{
    clear: both;
    counter-reset: none;
    display: table;
}

.card{
    width: calc(100%/3);
    padding: 30px;
    float: left;
}

.profile{
    background-color: #0F0E17;
    color: white;
    width: 90%;
    overflow: hidden;
    box-shadow: 5px 4px 18px #888888;
    line-height: 2em;
}

.profile img{
    float: left;
    height: 120px;
    padding-right: 15px;
}

.profile h3{
    padding-top: 8px;
}

.profile p:last-child{
    color: #4DCCCE;
}