@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Secular+One&family=Tienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto&family=Secular+One&family=Tienne&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 70%;
    margin: auto;
    margin-top: 60px;
}

h1,h6{
    font-family: 'Secular One', sans-serif;
}

header{
    text-align: center;

}

header *{
    padding-bottom: 30px;
}

.clearfix::after{
    clear: both;
    content: '';
    display: table;
}

.card{
    width: calc(100%/3);
    padding: 30px;
    float: left;
}

.profile{
    background-color: #0F0E17;
    color: white;
    width: 90%;
    overflow: clip;
    box-shadow: 5px 4px 18px #888888;
    line-height: 2em;
}

.profile img{
    float: left;
    height: 100px;
    padding-right: 15px;
}
